li .sidebar-link{
	text-decoration: none !important;
}
.navbar-dark{
	background-color: #323232;
}

.bg-tax-tracker{
	background-color: #878FF6 !important;
}

.card{
	border: 0 !important;
}

.navbar{
    z-index: 1;
    width: -webkit-fill-available;
}

.sidebar-link, a.sidebar-link{
	left: 20px !important;
	width: 80%;
	border-radius: 50px;
}
.sidebar-link:hover{
    background-color: #414141;
}

.gm-fullscreen-control, .gm-style-mtc-bbw{
	top: 50px !important;
}

.n-zindex {
    position: relative;
    z-index: -1;
}
h1,h2,h3,h4,h5,h6,p,a, ::placeholder, th, button, label {
    font-family: 'Montserrat', sans-serif;
}
.text-left {
    text-align: left;
  }
.bg-light-dark {
    background-color: #323232;
}
.bg-light-blue {
    background-color: #3E9AFA;
}
.bg-lightest-blue {
    background-color: #E0EFFF;
}
.e-row {
    display: flex;
    width: 100%;
}
.w-0 {
	width: unset!important;
}
.col-col-5 {
	width: 5%;
}

.col-col-10 {
	width: 10%;
}

.col-col-15 {
	width: 15%;
}

.col-col-17 {
	width: 17.5%;
}

.col-col-20 {
	width: 20%;
}

.col-col-25 {
	width: 25%;
}

.col-col-28 {
	width: 28%;
}

.col-col-30 {
	width: 30%;
}

.col-col-33 {
	width: 33.33%;
}

.col-col-40 {
	width: 40%;
}

.col-col-45 {
	width: 45%;
}

.col-col-50 {
	width: 50%;
}

.col-col-55 {
	width: 55%;
}

.col-col-60 {
	width: 60%;
}

.col-col-66 {
	width: 66.66%;
}

.col-col-70 {
	width: 70%;
}

.col-col-75 {
	width: 75%;
}

.col-col-80 {
	width: 80%;
}

.col-col-85 {
	width: 85%;
}

.col-col-90 {
	width: 90%;
}

.col-col-95 {
	width: 95%;
}

.col-col-100 {
	width: 100%;
}
